/*----------------------VARIABLES----------*/
$white : #FFFFF5;
$purple : #a348cb;
$darkpurple :#A247CB;
$green :#69f0ae;
/*----------------------MIXINS----------*/
@mixin flex($align-it: center, $justify-con: center, $flex-dir: column){
    display: flex;
    flex-direction: $flex-dir;
    justify-content: $justify-con;
    align-items: $align-it;
}
@mixin button($width:120px, $height:50px, $font-size: 1.4em){
    background: #93CDD9;
    width: $width;
    height: $height;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 5px;
    font-size: $font-size;
}
@mixin margin-width{
    * {
        margin: 30px 0;
    }
    p{
        max-width: 80%;
    }
}
@mixin accordion{
    border: 1px solid grey;
    border-top: 10px solid $purple;
    width: 80%;
    margin: 100px auto;
    color: $darkpurple;
}

/*----------------------GLOBAL----------*/
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3{
    max-width: 80%;
    text-align: center;
    margin: auto;
}
/*-------Nav----------*/
.nav {
    @include flex(center, space-around, row);
    background-color: white;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    a{
        float: left;
        display: block;
        color: $purple;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        transition: 0.25s color;
    }
    a:hover {
        color: #69f0ae;
    }
    a.active {
        color: #69f0ae;
    }
    .icon {
        display: none;
    }
}
/*-------Button----------*/
.button{
    @include button;
}

/*----------------------HOME PAGE----------*/
/*-------Top page----------*/
.topPage-home{
    @include flex(flex-start);
    background-image: url(images/background.svg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 50px 20px;
}
.img__calendar{
    width: 100%;
}

.img1{
    position: absolute;
    clip-path: circle(78.5% at 50% 21%);
    z-index: -1;

}


/*-------How it works----------*/
.howItWorks{
    h2{
        margin: 50vh auto;
        text-align: center;
    }
    .howItWorks__step{
        position: relative;
        @include flex;
        @include margin-width;
    }
    @keyframes arrow{
        from {transform: translate(0px, 0px);}
        to {transform: translate(0px, 30px);}
    }
    .img__arrow{
        animation-name: arrow;
        animation-duration: 0.8s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

/*-------Popular 30 day challenges----------*/
.popular30day__part{
    @include flex;
    @include margin-width;
    h2{
        text-align: center;
    }
    img{
        width: 90%;
    }
    .button{
        @include button(100px, 40px, 1em);
        margin-left: auto;
        margin-right: 10px;
    }
}
/*-------Accordion----------*/
.accordion{
    @include accordion;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 20px;
        box-shadow: 5px 5px 5px grey;
        li{
            border-top: 1px dashed grey;
            padding: 30px;
            padding-left: 0px;
        }
        li:first-child{
            margin-top: 50px;
        }
        li:last-child{
            border-bottom: 1px dashed grey;
        }
    }

}

/*----------------------MY CHALLENGE----------*/
@mixin calendar-grid($rows:1fr 1fr 1fr 1fr){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: $rows;
    list-style-type: none;
    text-align: center;
}
@mixin fail{
    background: red;
}
@mixin correct{
    background: green;
}
@mixin correctAnimation {
    @keyframes correct{
        from {background: $purple;}
        to {background: green;}
    }
    animation: correct 1s forwards;
}
@mixin reverse {
    @keyframes revers{
        from {background: green;}
        to {background: $purple;}
    }
    animation: revers 0.5s;
}

.calendar{
    background-image: url(images/yoga.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $green;
    background-blend-mode: soft-light;
    background-position: center;
    padding: 150px 0;
    font-size: large;
}
.challengeName{
    padding: 50px 0;
}
.challengeDescription{
    @include flex;
}
.challengeDescription__textarea{
    background: transparent;
    border: 2px solid lightblue;
    border-radius: 10px;
    height: 200px;
    width: 70%;
}
.calendar__30days{
    @include calendar-grid;
    .day{
        padding: 25px 10px;
        margin: 10px;
        cursor: pointer;
        transition: 0.3s background;
        border-radius: 10px;
    }
}
.calendar__daysLabel{
    @include calendar-grid(1fr);
    li{
    }
}
.correct{
    @include correctAnimation;
}
.reverseAnimation{
    @include reverse;
}
.purpleHover:hover{
    background: $purple;
}

/*----------------------MY CHALLENGE----------*/



/*----------------------MEDIA QUERIES----------*/
@media screen and (max-width: 600px) {
    .nav{
        display: block;
    }
    .nav a:not(:first-child) {
        display: none;
    }
    .nav a.icon {
        float: right;
        display: block;
    }
    .nav.responsive 
    {
        position: relative;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    } 
}
