/*--------Tables of content----
1 - Variables
2 - Mixins
3 - Global
4 - Nav
5 - Buttons
6 - Grid
7 - Flex
8 - HomePage
  8.1 - Top Page  
  8.2 - How It Works
  8.3 - Popular 30 day challenges
  8.4 - Accordion
9 - My Challenge
  9.1 - 
10 - Media Queries
  10.1 - 


*/
/*----------------------VARIABLES----------*/
$white: #fffff5;
$lightpurple: #a167bbad;
$purple: #a348cb;
$darkpurple: #8929b6;
$pink: #da5ec9;
$green: #69f0ae;
$blue: #93cdd9;
$lightblue: #81d8e9;
$lighterblue: #6be6ff;
/*----------------------MIXINS----------*/
@mixin margin-width {
  * {
    margin: 30px 0;
  }
}
@mixin fail {
  background: red;
}
@mixin correct {
  background: green;
}
@mixin correctAnimation {
  @keyframes correct {
    0% {
      background: #a348cb;
    }
    100% {
      background: #66e649;
    }
  }
  animation: correct 1s forwards;
}
@mixin reverse {
  @keyframes revers {
    from {
      background: #66e649;
    }
    to {
      background: $purple;
    }
  }
  animation: revers 0.5s;
}
@mixin dayDetails {
  width: 200px;
  height: 200px;
}
@mixin dayDate {
  visibility: visible;
  position: absolute;
  bottom: -40px;
  left: 50%;
  opacity: 1;
  transition: 0.5s all;
  text-align: center;
  margin: auto;
  transform: translate(-50%, -50%);
}
@mixin triangle($border-left: 20px solid blue, $border-right: 0) {
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: $border-left;
  border-right: $border-right;
  cursor: pointer;
}
@mixin arrow($transform: rotate(-45deg)) {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  transform: $transform;
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  margin: auto;
  top: 10px;
  cursor: pointer;
}
@mixin editable {
  border: 1px solid $purple;
}

@mixin feature__topMenu {
  @include flex(center, space-evenly, row);
  padding: 0;
  margin: 0;
  transition: opacity 1s;
}
@mixin calendar__details {
  height: 200px;
  width: 65%;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  text-align: center;
  border: 1px solid #8929b6;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  padding: 10px;
}
@mixin inActive {
  background-color: $lightpurple;
  width: 55px;
  height: 25px;
  font-size: 0.7em;
  opacity: 0.2;
  cursor: auto;
}
/*----------------------GLOBAL----------*/
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}
p {
  font-family: "Montserrat", sans-serif;
  max-width: 650px;
  text-align: center;
}
h1,
h2,
h3 {
  max-width: 80%;
  text-align: center;
  margin: auto;
}
/*-------Grid----------*/
@mixin nav-grid {
  grid-area: 1/4/2/5;
}
@mixin grid($rows: 1fr 1fr 1fr 1fr, $columns: 1fr 1fr 1fr 1fr 1fr 1fr) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  list-style-type: none;
  text-align: center;
}
.grid {
  @include grid(1fr 1fr 1fr 1fr, 1fr 1fr 1fr 1fr);
}
/*-------Flex----------*/
@mixin flex($align-it: center, $justify-con: center, $flex-dir: column) {
  display: flex;
  display: -webkit-flexbox;
  flex-direction: $flex-dir;
  -webkit-justify-content: $justify-con;
  justify-content: $justify-con;
  align-items: $align-it;
}
.flex {
  @include flex;
}
.day-flex {
  width: 130px;
  height: 100px;
  border-radius: 75px !important;
}

/*-------Nav----------*/
.nav {
  @include flex(center, space-around, row);
  background-color: white;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  a {
    float: left;
    display: block;
    color: $purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.25s color;
  }
  a:hover {
    color: #69f0ae;
  }
  .icon {
    display: none;
  }
}
.nav-flex {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  a {
    text-decoration: none;
  }
}
.active {
  color: #69f0ae;
}
/*-------Buttons----------*/
@mixin button($width: 80px, $height: 35px, $font-size: 1.4em) {
  background: $darkpurple;
  width: $width;
  height: $height;
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 5px rgb(18, 17, 17);
  font-size: $font-size;
  cursor: pointer;
}
@mixin feature__buttons {
  visibility: hidden;
  transform: translate(-100%);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  padding: 0;
  margin-top: 50px;
  text-align: center;
}
@mixin buttonHover {
  background: $purple;
}
@mixin buttonActive {
  background: $lightpurple;
}
.button {
  @include button;
}
.button:hover {
  @include buttonHover;
}
.button:active {
  @include buttonActive;
}
.button-small {
  @include button(80px, 35px, 1.1em);
}
.topPage__button {
  width: 120px;
  height: 50px;
}
.button-feature-edit {
}
.button-feature-save {
  visibility: hidden;
}
.button-feature-cancel {
  visibility: hidden;
}
.feature__buttons {
  @include feature__topMenu;
}
.button-feature {
  margin: 10px;
  width: 80px;
  height: 35px;
  font-size: 0.9em;
  text-align: center;
  transition: all 0.5s;
  color: rgb(237, 231, 231);
}
.button-feature-settings {
  font-size: 1.1em;
}
.button-animation {
  animation: instructionsButton 0.8s linear infinite alternate;
}
@keyframes instructionsButton {
  from {
    background-color: $darkpurple;
  }
  to {
    background-color: $lighterblue;
  }
}
/*----------------------HOME PAGE----------*/
/*-------Top page----------*/
.topPage-home {
  background-image: url(images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px;
}
.img1 {
  position: absolute;
  clip-path: circle(78.5% at 50% 21%);
  z-index: -1;
}
.topPage__calendar {
  width: 100%;
}

/*-------How it works----------*/
.howItWorks {
  h2 {
    margin: 40vh auto;
    text-align: center;
  }
  .howItWorks__step {
    position: relative;
    @include flex;
    @include margin-width;
  }
  @keyframes arrow {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0px, 30px);
    }
  }
  .img__arrow {
    animation-name: arrow;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

/*-------Popular 30 day challenges----------*/
.popular30day__part {
  @include flex;
  @include margin-width;
  h2 {
    text-align: center;
    justify-self: center;
  }
  img {
    width: 90%;
  }
  .button {
    @include button(100px, 40px, 1em);
    margin-left: auto;
    margin-right: 10px;
    align-self: start;
  }
  p {
    justify-self: center;
    text-align: left;
  }
}
/*-------Accordion----------*/
@mixin accordion {
  border: 1px solid grey;
  border-top: 10px solid $purple;
  width: 80%;
  margin: 100px auto;
  color: $darkpurple;
}
.accordion {
  @include accordion;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    box-shadow: 5px 5px 5px grey;

    li:first-child {
      margin-top: 50px;
    }
    li:last-child {
      border-bottom: 1px dashed grey;
    }
  }
}
.accordion__item {
  cursor: pointer;
  border-top: 1px dashed grey;
  padding: 30px;
  padding-left: 0px;
  transition: 0.4s;
}
.accordion__item__dropdown {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s;
}
.accordion-active {
  font-size: x-large;
}
.accordion__ul p {
  font-size: 0.8em;
  text-align: left;
}
.accordion__item:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: transparent;
  float: right;
  margin-left: 5px;
  text-shadow: 0px 0px #6eddfc;
}

.accordion-active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/*----------------------MY CHALLENGE----------*/

// .calendar {
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-blend-mode: soft-light;
//   background-position: center;
//   padding: 150px 0;
//   font-size: large;
// }
// .calendar-yoga {
//   background-image: url(images/yoga.svg);
// }
// .calendar-nofap {
//   background-image: url(images/noFap.svg);
// }
// .calendar-junkfood {
//   background-image: url(images/junk-food.svg);
// }
.challengeName__h1 {
  padding: 20px 15px;
  font-size: 2em;
  border-radius: 15px;
}
.challengeDescription {
  @include grid(1fr 1fr, 1fr 1fr 1fr);
}
.challengeDescription__textarea {
  grid-area: 1/1/2/4;
  background: transparent;
  border: 0px solid lightblue;
  border-radius: 10px;
  height: auto;
  width: 70%;
  justify-self: center;
  padding: 10px 15px;
}
.calendar__30days {
  padding: 0;
  .day {
    @include flex;
    position: relative;
    padding: 25px 10px;
    margin: 35px 10px;
    cursor: pointer;
    transition: 0.3s background, 0.3s width, 0.3s height;
    border-radius: 10px;
    border: 1px solid purple;
    box-shadow: 0 0 5px;
  }
}
.calendar__daysLabel {
  @include grid(1fr);
  padding: 0;
  position: relative;
  .rotateBackward {
    grid-area: 2/7/3/8;
    @include arrow;
  }
  .rotateForward {
    grid-area: 2/1/3/2;
    @include arrow(rotate(135deg));
  }
}
.correct {
  @include correctAnimation;
}
.reverseAnimation {
  @include reverse;
}
.purpleHover:hover {
  background: $purple;
}
.editable {
  @include editable;
}
.dayDetails {
  @include dayDetails;
}
.dayDate {
  @include dayDate;
}
.calendar__details {
  @include calendar__details;
}
.calendar__details:focus {
  outline: none;
}
.feature {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
.inActive {
  @include inActive;
}
.instructions {
  @include flex;
  position: fixed;
  // position: -webkit-sticky;
  bottom: 0;
  z-index: 1;
  background-color: white;
  .instructions__step {
    display: none;
    border: 1px solid $purple;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 7px $pink;
    margin: 10px;
  }
}

@keyframes blinkingBorder {
  0% {
    border: 3px solid #a348cb;
    box-shadow: 0 0 5px #a348cb;
  }
  100% {
    border: 3px solid #6be6ff;
    box-shadow: 0 0 20px #6be6ff;
  }
}
.border-animation {
  animation: blinkingBorder 0.8s linear infinite alternate;
}
@keyframes circleAnimation {
  from {
    border: 5px solid $darkpurple;
    box-shadow: 0 0 5px #a348cb;
  }
  to {
    border: 5px solid $lighterblue;
    box-shadow: 0 0 20px #6be6ff;
  }
}
.circle-animation {
  animation: circleAnimation 0.8s linear infinite alternate;
}
.displayNone {
  display: none;
}
// .logo__container {
//   display: flex;
//   .logo {
//     width: 80%;
//     margin: auto;
//     padding: 20px;
//     max-width: 400px;
//   }
// }
.topPage__challenges p,
.challenges__part p {
  text-align: left;
  margin: auto;
}
.challenges__part {
  @include flex;
  margin: 150px 0px;
}
.topPage__challenges ul {
  padding: 0px;
}
.topPage__challenges a {
  text-decoration: none;
  text-align: center;
}
.topPage__challenges li {
  margin: 10px;
}
.hr {
  border: 3px solid #81d8e9;
  border-radius: 30px;
  width: 80%;
}
.footer {
  @include flex;
}

.logo {
  width: 200px;
  margin: 15px;
}
/*----------------------MEDIA QUERIES----------*/
@media screen and (max-width: 600px) {
  p {
    max-width: 80%;
  }
  .topPage__h1 {
    margin: 20px auto;
    text-align: center;
  }
  .nav-mobile {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    background-color: transparent;
  }
  .nav-mobile-ul {
    flex-direction: column;
  }
  .nav-mobile-ul a {
    // color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    width: 70%;
  }
  .nav-mobile .icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 32px;
    margin: 15px;
    color: $lightblue;
  }
  .calendar__30days {
    .day {
      padding: 18px 5px;
      margin: 25px 15px;
    }
  }

  .purpleHover:hover {
    background: none;
  }
  .challenges__part img {
    width: 90%;
  }
}
.grid {
  @include grid(1fr, 1fr 1fr 1fr 1fr);
}

@media screen and (min-width: 600px) {
  .nav-grid {
    @include nav-grid;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
    }
  }
  .icon {
    display: none;
  }
  .topPage-home {
    @include grid(1fr 1fr 1fr, 1fr 1fr 1fr 1fr);
    .topPage__calendar {
      grid-area: 2/1/4/3;
      justify-self: center;
      width: 100%;
    }
    .topPage__logo {
      grid-area: 1/1/2/3;
      width: 100%;
      .header__logo {
        width: 70%;
      }
    }
    .topPage__h1 {
      grid-area: 2/3/3/5;
    }
    .topPage__button {
      grid-area: 3/3/4/5;
      justify-self: center;
    }
  }
  .instructions__step {
    padding: 10px 20px;
    margin: 5px 10px;
  }
  .popular30day__intro {
    @include flex(-it, -con, -dir);
  }
  .popular30day__intro img {
    max-width: 300px;
  }
  .popular30day__intro p {
    max-width: 650px;
  }
  .popular30day__main {
    @include grid(1fr 1fr 1fr, 1fr 1fr);
    margin: 20px;
  }
  .popular30day__main img {
    grid-area: 1/1/4/2;
  }
  .popular30day__main:nth-child(odd) img {
    grid-area: 1/2/4/3;
  }
  .popular30day__main h2 {
    align-self: end;
  }
  .popular30day__main p {
    margin: 0 25px;
    text-align: left;
  }
}
@media screen and (min-width: 600px) {
  .challenges__part img {
    max-width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .challenges__part {
    @include grid(1fr 1fr 1fr 1fr, 1fr 1fr 1fr 1fr);
    margin: 300px 50px;
  }
  .challenges__part img {
    max-width: 550px;
  }
  .challenges__part h2 {
    grid-area: 1/1/2/5;
  }
  .challenges__part h3 {
    grid-area: 3/2/4/4;
  }
  .challenges__part img {
    grid-area: 2/1/5/2;
  }
  .challenges__part p {
    grid-area: 2/2/3/5;
    margin: 0px 20px 0px 0px;
  }
  .challenges__part ul {
    grid-area: 3/2/5/4;
    padding: 0%;
    list-style-type: none;
  }
  .challenges__part a {
    grid-area: 3/4/5/5;
  }
}
@media screen and (min-width: 1440px) {
  .challenges__part {
    margin: 0px 140px;
  }
}
