/*----------------------HOME PAGE----------*/
@mixin flex($align-it: center, $justify-con: center){
    display: flex;
    flex-direction: column;
    justify-content: $justify-con;
    align-items: $align-it;
}
.topPage-home{
    @include flex(flex-start);
    background-image: url(images/background.svg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 50px 20px;
}
@mixin button($width:120px, $height:50px, $font-size: 1.4em){
    background: #93CDD9;
    width: $width;
    height: $height;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 5px;
    font-size: $font-size;
}
.button{
    @include button;
}
.img__calendar{
    width: 100%;
}
@mixin margin-width{
    * {
        margin: 30px 0;
    }
    p{
        max-width: 80%;
    }
}
.howItWorks{
    h2{
        margin: 50vh 0;
        text-align: center;
    }
    .howItWorks__step{
        position: relative;
        @include flex;
        @include margin-width;
    }
    @keyframes arrow{
        from {transform: translate(0px, 0px);}
        to {transform: translate(0px, 30px);}
    }
    .img__arrow{
        animation-name: arrow;
        animation-duration: 0.8s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}
.popular30day__part{
    @include flex;
    @include margin-width;
    h2{
        text-align: center;
    }
    img{
        width: 100%;
    }
    .button{
        @include button(100px, 40px, 1em);
        margin-left: auto;
        margin-right: 10px;
    }
}