/*----------------------VARIABLES----------*/
/*----------------------MIXINS----------*/
/*----------------------GLOBAL----------*/
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
  max-width: 80%;
  text-align: center;
  margin: auto;
}

/*-------Nav----------*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
}
.nav a {
  float: left;
  display: block;
  color: #a348cb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.25s color;
}
.nav a:hover {
  color: #69f0ae;
}
.nav a.active {
  color: #69f0ae;
}
.nav .icon {
  display: none;
}

/*-------Button----------*/
.button {
  background: #93CDD9;
  width: 120px;
  height: 50px;
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 5px;
  font-size: 1.4em;
  cursor: pointer;
}

/*----------------------HOME PAGE----------*/
/*-------Top page----------*/
.topPage-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px;
}

.img__calendar {
  width: 100%;
}

.img1 {
  position: absolute;
  clip-path: circle(78.5% at 50% 21%);
  z-index: -1;
}

/*-------How it works----------*/
.howItWorks h2 {
  margin: 50vh auto;
  text-align: center;
}
.howItWorks .howItWorks__step {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.howItWorks .howItWorks__step * {
  margin: 30px 0;
}
.howItWorks .howItWorks__step p {
  max-width: 80%;
}
@keyframes arrow {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 30px);
  }
}
.howItWorks .img__arrow {
  animation-name: arrow;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/*-------Popular 30 day challenges----------*/
.popular30day__part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular30day__part * {
  margin: 30px 0;
}
.popular30day__part p {
  max-width: 80%;
}
.popular30day__part h2 {
  text-align: center;
}
.popular30day__part img {
  width: 90%;
}
.popular30day__part .button {
  background: #93CDD9;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 5px;
  font-size: 1em;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
}

/*-------Accordion----------*/
.accordion {
  border: 1px solid grey;
  border-top: 10px solid #a348cb;
  width: 80%;
  margin: 100px auto;
  color: #A247CB;
}
.accordion ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  box-shadow: 5px 5px 5px grey;
}
.accordion ul li {
  border-top: 1px dashed grey;
  padding: 30px;
  padding-left: 0px;
}
.accordion ul li:first-child {
  margin-top: 50px;
}
.accordion ul li:last-child {
  border-bottom: 1px dashed grey;
}

/*----------------------MY CHALLENGE----------*/
.calendar {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #69f0ae;
  background-blend-mode: soft-light;
  background-position: center;
  padding: 150px 0;
  font-size: large;
}

.calendar-yoga {
  background-image: url(images/yoga.svg);
}

.calendar-nofap {
  background-image: url(images/noFap.svg);
}

.calendar-junkfood {
  background-image: url(images/junk-food.svg);
}

.challengeName {
  padding: 50px 0;
}

.challengeDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.challengeDescription__textarea {
  background: transparent;
  border: 2px solid lightblue;
  border-radius: 10px;
  height: 200px;
  width: 70%;
}

.calendar__30days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.calendar__30days .day {
  padding: 25px 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s background;
  border-radius: 10px;
}

.calendar__daysLabel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.correct {
  animation: correct 1s forwards;
}
@keyframes correct {
  from {
    background: #a348cb;
  }
  to {
    background: green;
  }
}

.reverseAnimation {
  animation: revers 0.5s;
}
@keyframes revers {
  from {
    background: green;
  }
  to {
    background: #a348cb;
  }
}

.purpleHover:hover {
  background: #a348cb;
}

/*----------------------MY CHALLENGE----------*/
/*----------------------MEDIA QUERIES----------*/
@media screen and (max-width: 600px) {
  .nav {
    display: block;
  }

  .nav a:not(:first-child) {
    display: none;
  }

  .nav a.icon {
    float: right;
    display: block;
  }

  .nav.responsive {
    position: relative;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .calendar__30days .day {
    padding: 10px 5px;
    margin: 5px;
  }

  .purpleHover:hover {
    background: none;
  }
}

/*# sourceMappingURL=styles.css.map */
